@font-face {
    font-family: 'Righteous', sans-serif;
    src: url("../Assets/fonts/Righteous-Regular.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}