@font-face {
  font-family: "Righteous", sans-serif;
  src: url("../Assets/fonts/Righteous-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(270deg, rgb(2, 0, 36) 0%, rgb(24, 24, 157) 46%, rgb(0, 212, 255) 100%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title__text {
  padding-top: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.television {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
@media screen and (min-width: 1024px) {
  .television {
    bottom: -30%;
  }
}
.television__screen {
  position: relative;
  top: 27vw;
  left: 38.5vw;
  width: 14vw;
  border-radius: 3vw;
}
.television__img {
  max-width: 100%;
}
.television__button {
  position: relative;
  top: 23vw;
  left: 48.5vw;
  height: 2vw;
  width: 2vw;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}
.television__button:hover {
  background-color: #00ff00;
  transform: scale(1.1);
}
.television__background {
  width: 100vw;
}

.star__1 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 39.8920874141vh;
  right: 71.1741293124vw;
  background-color: rgb(250, 239, 255);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 4s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__2 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 35.095619394vh;
  right: 2.9142766322vw;
  background-color: rgb(250, 239, 255);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 1.5s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__3 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 25.1901318083vh;
  right: 18.509084695vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__4 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 19.1970743258vh;
  right: 58.1533016281vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2.25s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__5 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 5.176047877vh;
  right: 45.1357579788vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 1.75s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__6 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 4.5230806542vh;
  right: 96.8085429125vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__7 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 42.8704971392vh;
  right: 68.5308487623vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3.5s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__8 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 46.788533526vh;
  right: 24.9199226111vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2.75s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__9 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 37.4697211708vh;
  right: 59.5799263682vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2.8s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__10 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 42.5775790333vh;
  right: 13.3962836002vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3.2s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__11 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 21.1974422982vh;
  right: 63.3970880073vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2.5s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__12 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 24.9334649641vh;
  right: 98.1379441775vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2.7s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__13 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 14.4087285574vh;
  right: 75.23093925vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2.9s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__14 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 18.7123346521vh;
  right: 54.7620261016vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3.1s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__15 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 1.1985615314vh;
  right: 26.6995847573vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3.3s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__16 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 40.2804649916vh;
  right: 65.345366216vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3.5s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__17 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 38.1720658294vh;
  right: 22.4402599429vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3.7s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__18 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 6.2296839057vh;
  right: 3.3101071415vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3.9s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__19 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 36.5705579668vh;
  right: 5.6840454366vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 4.1s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__20 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 1.1658012492vh;
  right: 76.8141880762vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 4.3s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=landing.css.map */