@font-face {
  font-family: "Righteous", sans-serif;
  src: url("../Assets/fonts/Righteous-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(270deg, rgb(2, 0, 36) 0%, rgb(24, 24, 157) 46%, rgb(0, 212, 255) 100%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title__text {
  padding-top: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.television {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
@media screen and (min-width: 1024px) {
  .television {
    bottom: -30%;
  }
}
.television__screen {
  position: relative;
  top: 27vw;
  left: 38.5vw;
  width: 14vw;
  border-radius: 3vw;
}
.television__img {
  max-width: 100%;
}
.television__button {
  position: relative;
  top: 23vw;
  left: 48.5vw;
  height: 2vw;
  width: 2vw;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}
.television__button:hover {
  background-color: #00ff00;
  transform: scale(1.1);
}
.television__background {
  width: 100vw;
}

.star__1 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 12.0302067642vh;
  right: 7.6004216416vw;
  background-color: rgb(250, 239, 255);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 4s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__2 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 21.1274030694vh;
  right: 88.9488838546vw;
  background-color: rgb(250, 239, 255);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 1.5s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__3 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 13.922543647vh;
  right: 84.7042809884vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__4 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 26.7124601875vh;
  right: 43.4143185574vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2.25s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__5 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 13.2963438907vh;
  right: 84.5300351492vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 1.75s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__6 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 1.871040275vh;
  right: 38.6997256509vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__7 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 4.9354777232vh;
  right: 0.2007274413vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3.5s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__8 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 26.0479173691vh;
  right: 48.281738101vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2.75s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__9 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 11.2093646648vh;
  right: 98.4442316453vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 2.8s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.star__10 {
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  top: 6.2066109739vh;
  right: 96.0962636277vw;
  background-color: rgb(215, 222, 234);
  border-radius: 50%;
  z-index: 1;
  animation: twinkle 3.2s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=landing.css.map */